/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

#personal-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

#toggle-skills {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#toggle-skills:hover {
    background-color: #3e8e41;
}

.hidden {
    display: none;
  }
  

@media only screen and (max-width: 768px) {
    section {
        margin-bottom: 10px;
    }
}